#container {
  width: 100%;
  //height: 100%;
  font-size: 1em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border: 1px solid black;
  box-sizing: border-box;
}
footer {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  .footer-container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .footer-left {
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
  }
  .footer-right {
    width: 500px;
    height: 100%;
    border: 1px solid white;
  }
}
