@import "./reset.css";
@import "./main.css";
#container {
  width: 100%;
  font-size: 1em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0 18px 0 20px;
  background: #f4f6f5;
  border-radius: 10px 10px 0 0;
  border: 1px solid #5e5f5f;
  border-bottom: none;
  overflow: hidden;
  gap: 30px;
  box-sizing: border-box;
}
header .fake-btn-wrap {
  display: flex;
  gap: 8px;
}
header .fake-btn-wrap span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fd7d77;
  border: 1px solid #e4655f;
}
header .fake-btn-wrap span + span {
  background: #fcc856;
  border-color: #e3b03e;
}
header .fake-btn-wrap span + span + span {
  background: #51d164;
  border-color: #3ab84c;
}
header .center {
  flex: 1 auto;
  max-width: 780px;
  width: 100%;
  height: 28px;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
  border-radius: 10px;
  overflow: hidden;
  background: #fcfcfc;
  border: 1px solid #dedede;
  color: #515151;
}
footer {
  width: 100%;
  height: 100vh;
  background: rosybrown;
  overflow: hidden;
}
footer .footer-container {
  outline: 1px solid red;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer .footer-row {
  display: flex;
  outline: 1px solid red;
}
footer .footer-row .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}
footer .contact {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
footer .footer-right {
  width: 500px;
  height: 100%;
  border: 1px solid white;
}
footer .copyright {
  padding: 20px;
  background: #000;
  font-size: 12px;
  color: #fff;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.scroller {
  height: 100vh;
}

.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: transparent;
}
.splash img {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  object-fit: cover;
}
.splash.splash-active object {
  animation: splash-active 1s forwards;
}

@keyframes splash-active {
  to {
    opacity: 0.2;
    transform: scale(0);
  }
  from {
    opacity: 1;
    transform: scale(3);
  }
}
.wrap {
  background: palegoldenrod;
  height: 120vh;
}

.content {
  width: 100vw;
  height: 100vh;
}
.content.bg-black {
  background: #000;
}
.content:has([class*=detail]) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid red;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
}
.content .detail {
  grid-template-columns: repeat(5, 100px);
  gap: 40px;
}
.content .detail li {
  height: 100px;
  outline: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  background: wheat;
}
.content .detail img:has([src=""]) {
  display: none;
}
.content .marque-area {
  flex: 1 1 auto;
  outline: 1px solid black;
  min-width: 100px;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
